@media print {
  #printable{
       display:flex;
       justify-content:center;
       align-items:center;
       height:100%;
       }
      html, body{
        height:100%;
        width:100%;
      }
  }